<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {% include './bootstrap/bootstrap.css.twig' %}
    <link rel="stylesheet" href="/css/profile.css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
</head>
<body>
    {% include 'website/common/navbar.twig'%}
    <div class="container">
        <div class="row login_box" style="color: #FFF;">
            <div class="col-lg-12 col-md-12 col-xs-12" align="center">
                <div class="line"><h3>Profile</h3></div>
                <div class="outter"><img src="images/unknown_user.jpg" class="image-circle"/></div>   
                <h1>{{user.name}}</h1>
                <span><h4>{{user.unit}}</h4></span>
            </div>
            <div class="col-md-6 col-xs-6 follow line" align="center">
                <h3>1 <br/> <span>Superviser</span>
                </h3>
            </div>
            <div class="col-md-6 col-xs-6 follow line" align="center">
                <h3> 10 <br/> <span>Employees Supervising</span>
                </h3>
            </div>

            <div class="col-md-12 col-xs-12 login_control">

                <div class="control">
                    <div class="label">Email Address</div>
                    <input type="email" class="form-control" value={{user.email}}>
                </div>
                <div class="control">
                    <div class="label">Job Title</div>
                    <input type="text" class="form-control" value={{user.job}}>
                </div>
                <div class="control">
                    <div class="label">Role</div>
                    <input type="text" class="form-control" value={{user.role}}>
                </div>
                <div class="control">
                    <div class="label">Cell Number</div>
                    <input type="text" placeholder="555-555-5555" class="form-control" value={{user.number}}>
                </div>
                 <div class="control">
                    <div class="label">Phone Number</div>
                    <input type="text" placeholder="555-555-555 ext ####" class="form-control" value={{user.number}}>
                </div>
                <div align="center">
                    <button class="btn btn-blue">Update</button>
                </div>  
            </div>
        </div>
    </div>

    {# footer.twig #}

    {% include 'bootstrap/bootstrap.js.twig' %}

</body>
</html>